.card{
    background: linear-gradient(135deg, #153667, #4e085f);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(135deg, #153667, #4e085f);
}



@media screen and (min-width: 768px){
    .toggle-menu{
        display: none;
        
    }
}

.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2596be;
    transition: transform 0.5s;
    transform: translateY(-100);
}

.main-menu--show{
    transform: translateY(0);
}

.toggle-menu_checkbox{
    display: none;
}

.toggle-menu_checkbox:checked + .main-menu{
    transform: translateY(0);
}

@media screen and (min-width: 768px){
    .main-menu{
        flex-direction: row;
        transform: translateY(0);
    }

}

.main-menu_item{
    padding: 1em;
}

.main-menu_link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.dropdown {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #234666;
    border: 0;
    color: #FFFFFF;
    border-radius: 7px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

label{
    color: #fff;
}

h2{
    color: #fff;
}

tbody{
    color: #fff;
}

.card-body{
    color: #fff;
}

.Contenido {
    margin-top: 80px; 
}