body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(135deg, #153667, #4e085f);
}



@media screen and (min-width: 768px){
    .toggle-menu{
        display: none;
        
    }
}

.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2596be;
    transition: transform 0.5s;
    transform: translateY(-100);
}

.main-menu--show{
    transform: translateY(0);
}

.toggle-menu_checkbox{
    display: none;
}

.toggle-menu_checkbox:checked + .main-menu{
    transform: translateY(0);
}

@media screen and (min-width: 768px){
    .main-menu{
        flex-direction: row;
        transform: translateY(0);
    }

}

.main-menu_item{
    padding: 1em;
}

.main-menu_link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.dropdown {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #234666;
    border: 0;
    color: #FFFFFF;
    border-radius: 7px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;


}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.todo-app h2 img {
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.container ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.container ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../resource/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.container ul li.checked {
    color: #555;
    text-decoration: line-through;
}

.container ul li.checked::before {
    background-image: url(../resource/checked.png);
}

.list-container-urgente ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../resource/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.list-container-urgente ul li.checked {
    color: #555;
    text-decoration: line-through;
}

.list-container-urgente ul li.checked::before {
    background-image: url(../resource/checked.png);
}

.container ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.container ul li span:hover {
    background: #edeef0;
}

.container h1 {
    font-size: 12px;
}

.container h3 {
    font-size: 17px;
    color: red;
}

.modal-body .card .card-body {
    background: #063970;
    color: #eeeee4;
}

.btn-close {
    background: #21130d;
    color: #abdbe3;
    width: 10px;
}

.container .list-container-urgente li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.container .list-container-urgente li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../resource/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}